
:root{
    --main_bc_header_rs: #ffffff;
}
.header_questionnaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 60px 30px 60px;
    margin: 0 auto;
    width:1320px;
    background-color: var(--main_bc_header_rs);
    z-index: 2;
}

#link_to_home_questionnaire{
    position: relative;
    background-image: url("/src/assets/svg/logo_name_black.svg");
    width: 214px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Widt*/
/*h*/
/*169px*/
/*   Heigh*/
/*   t*/
/*31.59px*/

@media screen and (max-width: 1400px) {
         .header_questionnaire{
             width: 100%;
         }
    #link_to_home_questionnaire{
    width: clamp(10.5625rem, 9.6604rem + 4.2453vw, 13.375rem);
    height: clamp(1.9375rem, 1.6167rem + 1.5094vw, 2.9375rem);
    }
}