@keyframes neonGlow {
    0% {
        box-shadow: 0 0 3px #F5F5F5, 0 0 5px #d8f2ff, 0 0 5px #c3ffe7, 0 0 6px #e3f4ff;
    }
    25% {
        box-shadow: 0 0 5px #d8f2ff, 0 0 5px #feffdb, 0 0 6px #d5ddff, 0 0 7px #f2dbff;
    }
    50% {
        box-shadow: 0 0 3px #f3ffef, 0 0 5px #F5F5F5, 0 0 3px #ebe4ff, 0 0 8px #fff8de;
    }
    75% {
        box-shadow: 0 0 4px #F5F5F5, 0 0 5px #dadada, 0 0 4px #fff0e9, 0 0 6px #ffd1d1;
    }
    100% {
        box-shadow: 0 0 3px #F5F5F5, 0 0 5px #F5F5F5, 0 0 5px #F5F5F5, 0 0 4px #F5F5F5;
    }
}

.multiselect{
    padding: 10px 7px 10px 7px;
    margin-top: 20px;
    border: 1px solid #B7B7B7;
    border-radius: 7px;
}
.multiselect-placeholder{
    color: #000000;
}
.multiselect.is-active{
    animation: neonGlow 6s infinite alternate ease-in-out;
    transition: all 1s ease-in-out;
}
.multiselect-tag{
    background-color: #F2F2F2;
        padding: 9px 8px 9px 8px;
        border-radius: 16px ;
        font-size: 16px ;
        display: flex;
    font-weight: 400;
        align-items: center ;
        flex-direction: row ;
        gap: 5px ;
    font-family: 'PragmataProMono', monospace;
        justify-content: center ;
        width: fit-content ;
        color: #000000 ;
}
.multiselect-tag-remove{
    background-color: #bbbbbb;
    border-radius: 55px;
}
.multiselect-tag-remove:hover{
    background-color: #363636;
}
.multiselect-tag-remove-icon{
    mask-image: url("../../svg/close.svg");
    -webkit-mask-image: url("../../svg/close.svg");
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}
.multiselect-tag, .multiselect-tags{
    row-gap: 10px;
    column-gap: 10px;
}
.multiselect-option.is-selected.is-pointed{
    background-color: #ffecec;
    color: #000000;
}
.multiselect-option.is-pointed{
    background-color: #f6f6f6;
}
.multiselect-option.is-selected{
    background-color: #ecfff1;
    color: #000000;

}